body {
  background-image: url(images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-color: rgb(233, 233, 233);
  margin: 0;
  padding: 0;
  font-family: 'Commissioner', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
ul {
  display: flex;
  justify-content: space-between;
}
li {
  margin-right: 2rem;
  list-style: none;
  color: white;
}
header img {
  height: 20px;
  margin-top: 0.7rem;
}
.container {
  width: 60%;
  position: relative;
  margin: 18rem auto;
  background-color: transparent;
  /* display: none; */
}
.logo {
  position: absolute;
  left: 50%;
  top: -2rem;
}
.one {
  padding-top: 2rem;
  background-color: white;
  border-radius: 10px;
}
.one h1 {
  text-align: center;
}
.one p {
  text-align: center;
}
.back {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.back button {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  color: white;
}
.back img {
  height: 2.8rem;
  position: absolute;
  left: 72%;
  top: 12%;
  z-index: 1;
}
.bproject {
  border-radius: 20px;
  width: 30%;
  height: 3rem;
  background-color: hsl(176, 72%, 28%);
  border: none;
  cursor: pointer;
}
.bookmark {
  padding: 0.8rem;
  width: 20%;
  border-radius: 20px;
  position: absolute;
  top: 10%;
  background-color: rgb(233, 233, 233);
  border: none;
  left: 70%;
  cursor: pointer;
}
.bookmark:hover{
  color: hsl(176, 72%, 28%) ;
}
.two{
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
}
.three{
  background-color: white;
  padding: 1rem;
  margin-top: 0.5rem;
  padding-left: 2rem;
  border-radius: 10px;
}
.three p{
  line-height: 1.5;
}
.bamstand{
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
span{
  font-size: 30px;
  font-weight: bolder;
  background-color: transparent;
}
.bamboo{
  border: 1px solid hsl(0, 0%, 80%);
  margin-bottom: 1rem;
  border-radius: 10px;
  position: relative;
  background-color: white;
}
.black{
  border: 1px solid hsl(0, 0%, 80%);
  margin-bottom: 1rem;
  border-radius: 10px;
  position: relative;
}
.mahogany{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  position: relative;
  color: hsl(0, 0%, 48%);
}
.paragraph{
  padding-left: 1rem;
  padding-right: 1rem;
  color: hsl(0, 0%, 80%);
  line-height: 1.5;
}
.bamstand2{
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
}
.reward{
  padding: 0.8rem;
  width: 20%;
  border-radius: 20px;
  height: 30px;
  padding-bottom: 1.5rem;
  position: absolute;
  left: 75%;
  background-color: hsl(176, 72%, 28%);
  color: white;
  border: none;
  top: 72%;
  cursor: pointer;
}
.stock{
  padding: 0.8rem;
  width: 20%;
  border-radius: 20px;
  height: 30px;
  padding-bottom: 1.5rem;
  position: absolute;
  left: 75%;
  top: 72%;
  border: none;
}
.pledge{
  color: hsl(176, 50%, 47%);
  margin-right: 2rem;
}
.thankyou{
  width: 30%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 75%;
  left: 35%;
  z-index: 1;
  display: none;
  min-width: 250px;
}
.thankyou img{
  margin-left: 43%;
  margin-top: 2rem;
}
.thankyou h2{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.thankyou p{
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.thankyou button{
  margin-left: 40%;
  margin-bottom: 2rem;
  border-radius: 20px;
  width: 20%;
  height: 2rem;
  background-color: hsl(176, 50%, 47%);
  border: none;
  color: white;
  cursor: pointer;
}
.backthisproject{
  width: 60%;
  background-color: white;
  font-family: 'Commissioner', sans-serif;
  position: absolute;
  top:40%;
  left: 20%;
  z-index: 1;
  display: none;
  border-radius: 10px;
}
.backthisproject h2{
  padding-top: 2rem;
  padding-left: 2rem;
}
.cancel{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cancel img{
  height: 20px;
  margin-top: 3rem;
  margin-right: 2rem;
  background-color: hsl(0, 0%, 48%);
  cursor: pointer;
}
.intro{
  padding-left: 2rem;
  margin-bottom: 2rem;
  color: hsl(0, 0%, 80%);
}
.ppledge{
  margin-left: 2rem;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  margin-right: 2rem;
  padding: 2rem 1rem 1rem 1rem;
}
h3{
  display: inline;
  margin-right: 1rem;
  margin-left: 1.5rem;
}
.pbamboo{
  border: 1px solid hsl(0, 0%, 80%);
  margin-top: 1rem;
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem 1rem 1rem 1rem;
  position: relative;
}
.pbamstand{
  display: flex;
}
.pledge{
  display: inline;
}
.spaning{
  position: absolute;
  left: 80%;
  top: 7%;
}
.paraborder{
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding-bottom: 1rem;
  margin-top: 2rem;
  line-height: 1.5;
}
.enterpledge{
  display: flex;
  justify-content: space-between;
}
.text{
  width: 3rem;
  border-radius: 20px;
  text-align: center;
  border: 1px solid hsl(0, 0%, 80%);
  margin-top: 1rem;
  margin-right: 0.5rem;
  height: 20px;
  cursor: pointer;
}
.submittext{
  width: 4rem;
  border-radius: 20px;
  text-align: center;
  border: none;
  margin-top: 1rem;
  margin-right: 0.5rem;
  height: 25px;
  background-color: hsl(176, 72%, 28%);
  color: white;
  cursor: pointer;
}
.pblack{
  border: 1px solid hsl(0, 0%, 80%);
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem 1rem 1rem 1rem;
  position: relative;
  border-radius: 10px;
}
.pmahogany{
  margin-bottom: 2rem;
  border: 1px solid hsl(0, 0%, 80%);
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem 1rem 1rem 1rem;
  position: relative;
  border-radius: 10px;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 5rem;
  width: 100%;
  background-color: white;
  margin-right: 2rem;
  margin-left: -5rem;
  padding-top: 2rem;
  border-radius: 10px;
  position: relative;
}
.mobilec{
  width: 5%;
  position: absolute;
  left: 100%;
  top: -30%;
  cursor: pointer;
  display: none;
}
.column li{
  margin-bottom: 2rem;
  color: black;
}
.column li:nth-child(3){
  border-top: 1px solid hsl(0, 0%, 80%);
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.mobilei{
  display: none;
  position: absolute;
  left: 85%;
  top: 2%;
  cursor: pointer;
}
@media (max-width:600px) {
  .mobilei{
    display: block;
    padding: 1rem;
  }
  ul{
    display: none;
  }
  .container{
    position: absolute;
    left: 7.3%;
    top: -3%;
    z-index: -1;
    width: 85%;
  }
  header{
    padding: 1rem;
  }
  .logo {
    position: absolute;
    left: 40%;
    top: -2rem;
  }
  .two{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .total{
    border-top: 1px solid hsl(0, 0%, 80%);
    border-bottom: 1px solid hsl(0, 0%, 80%);
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .two h2{
    margin-left: 2rem;
  }
  .bookmark{
    display: none;
  }
  .back img{
    margin-left: -1rem;
    margin-top: 0.3rem;
  }
  .bproject {
    border-radius: 20px;
    width: 50%;
    height: 3rem;
    background-color: hsl(176, 72%, 28%);
    border: none;
    cursor: pointer;

  }
  .back button {
    margin-left: 3rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    color: white;
  }
  .one h1 {
    width: 70%;
    margin: 1rem auto;
  }
  .one p {
    width: 80%;
    margin: 1rem auto;
  }
  .three{
    padding-top: 2rem;
  }
  .bamstand{
    flex-direction: column;
  }
  .pledge{
    margin-top: -1rem;
  }
  .bamstand h3{
    margin-left: 0rem;
  }
  .reward{
    background-color: hsl(176, 72%, 28%);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
    height: 50px;
    margin-left: -3rem;
    width: 6rem;
  }
  .stock{
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
    height: 50px;
    margin-left: -3rem;
    width: 6rem;
  }
  body{
    background-image: url("images/image-hero-mobile.jpg");
    background-size: 100%;
  }
  .backthisproject{
    width: 85%;
    left: 7.5%;
    top: 30%;
  }
  /* .ppledge{
    width: 60%;
  } */
  .pledge2{
    color: hsl(176, 50%, 47%);
    margin-left: 3rem;
  }
  .spaning{
    display: none;
  }
  .enterpledge{
    flex-direction: column;
  }
  .enterpledge p{
    text-align: center;
  }
  .input{
    align-items: center;
    text-align: center;
  }
  .text{
    width: 5rem;
    border-radius: 20px;
    text-align: center;
    border: 1px solid hsl(0, 0%, 80%);
    margin-top: 1rem;
    margin-right: 0.5rem;
    height: 40px;
    cursor: pointer;
  }
  .submittext{
    width: 6rem;
    border-radius: 20px;
    text-align: center;
    border: none;
    margin-top: 1rem;
    margin-right: 0.5rem;
    height: 40px;
    background-color: hsl(176, 72%, 28%);
    color: white;
    cursor: pointer;
  }
  .thankyou{
    width: 80%;
    position: absolute;
    left: 5%;
    top: 20%;
    z-index: -1;
    padding: 1rem;
  }
  .thankyou button{
    width: 6rem;
    height: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* .line{
  width: 80%;
  height: 2rem;
  color: black;
} */